*.class
*.jar
*.war
*.ear
/bin/
/build/
/target/
/out/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/vscode/
.DS_Store
Thumbs.db
*.log
*.env
.gradle/
!gradle/wrapper/gradle-wrapper.jar
**/build/
**/out/
mvnw
mvnw.cmd
gradlew
gradlew.bat
.m2/
*.swp
*.swo
